@tailwind base;
@tailwind components;
@tailwind utilities;

.pulse-animation {
  animation: pulse 0.5s 1;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}

.inner-focus-scale, .focus-scale {
  transform: scale(1.0);
}

.inner-focus-scale:focus-within, .inner-focus-scale:hover, .focus-scale:focus, .focus-scale:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}